.app {
  padding: 1% 5% 1% 5%;
}

.app-ul {
  list-style-type: none;
  display: flex;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.95);
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.app-li {
  padding: 10px;
  font-size: x-large;
}

.app-li a{
  color: black;
}

.app-li a:hover{
  color: rgba(0, 0, 0, 0.5);
}

.details {
  max-width: 100%;
  height: auto;
  display: flex;
}
